<%= nested_form_for @test do |f| %>
  <% if @test.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h4>

      <ul>
        <% @test.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container field">
    <div class="row">
      <div class="col-sm-2">
        <h4><%= f.label :name, 'Test Name' %></h4>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :name %>
      </div>
    </div>
  </div>

  <hr/>

  <div class="container">
    <div class="row">
      <h3>Questions</h3>
    </div>
      <%= f.fields_for :questions do |question_form| %>
        <div class="row">
          <div class="col-sm-1">
            <%= question_form.label :content, "Question" %>
          </div>
          <div class="col-sm-4">
            <%= question_form.text_field :content %>
          </div>
          <div class="col-sm-2 col-sm-offset-3">
            <%= question_form.link_to_remove "Remove this question" %>
          </div>
        </div>
        <%= question_form.fields_for :options do |option_form| %>
          <div class="row">
            <div class="col-sm-1">
              <%= option_form.label :answer, "Option" %>
            </div>
            <div class="col-sm-3">
              <%= option_form.text_field :answer %>
            </div>
            <div class="col-sm-1">
              <%= option_form.label :points, "Points" %>
            </div>
            <div class="col-sm-3">
              <%= option_form.text_field :points %>
            </div>
            <div class="col-sm-2">
              <%= option_form.link_to_remove "Remove this option" %>
            </div>
          </div>
        <% end %>
        <div class="row">
          <p><%= question_form.link_to_add "Add an option", :options %></p>
        </div>
      <% end %>
    <div class="row">
      <p><%= f.link_to_add "Add a question", :questions %></p>
    </div>
  </div>

<%= f.submit class: "btn btn-primary" %>
<% end %>
