<% custom_action, custom_button = submit_path, 'Submit Test' if current_page?(action: 'take') %>

<%= nested_form_for @test, url: "#{custom_action}" do |f| %>

  <div class="container">
    <div class="row">
      <h3>Questions</h3>
    </div>
      <%= f.fields_for :questions do |question_form| %>
        <div class="row">
          <div class="col-sm-8">
            <%= question_form.text_field :content, disabled: true %>
          </div>
        </div>
        <div class="row">
            <%= question_form.collection_check_boxes(:options, @options.select {|o| o.question_id == question_form.object.id}, :points, :answer) do |option|  %>
                <%= option.check_box %>  <%= option.label %>
            <% end %>
        </div>
      <% end %>
  </div>

<% if current_page?(action: 'take') %>
  <%= f.submit "#{custom_button}", class: "btn btn-primary" %>
<% end %>

<% end %>
